html{
}
head{
}
body{
}
#id5{
background-color:#d;
position : absolute;
top : 118.0;
left : 126.0;
width : max-content;
height : max-content;
}
#id6{
background-color:#d;
position : absolute;
top : 124.0;
left : 492.0;
width : 261.0;
height : 230.0;
}
#id7{
background-color:#d;
position : absolute;
top : 118.0;
left : 145.0;
width : max-content;
height : max-content;
}

