html{
}
head{
}
body{
}
#id5{
position : absolute;
top : 161.0;
left : 113.0;
width : 230.0;
height : 232.0;
}
#id6{
top : 101.0;
left : 73.0;
width : 132.0;
height : 143.0;
}
#id7{
}
#id8{
}
#id9{
position : absolute;
top : 467.0;
left : 426.0;
width : 215.0;
height : 222.0;
}
#id10{
width : 490.0;
height : 538.0;
}
#id11{
}

