html{
}
head{
}
body{
}
#id5{
background-color:#d;
position : absolute;
top : 113.0;
left : 197.0;
width : max-content;
height : max-content;
}
#id6{
background-color:#d;
position : absolute;
top : 270.0;
left : 214.0;
width : max-content;
height : max-content;
}

