html{
}
head{
}
body{
}
#id5{
position : absolute;
top : 35.0;
left : 47.0;
width : max-content;
height : max-content;
}
#id6{
position : absolute;
top : 46.0;
left : 159.0;
width : max-content;
height : max-content;
}

