html{
}
head{
}
body{
}
#id5{
position : absolute;
top : 334.0;
left : 353.0;
width : 281.0;
height : 235.0;
}
#id6{
position : absolute;
top : 109.0;
left : 157.0;
width : max-content;
height : max-content;
}
#id7{
position : absolute;
top : 45.0;
left : 44.0;
width : max-content;
height : max-content;
}
#id8{
position : absolute;
top : 152.0;
left : 235.0;
width : max-content;
height : max-content;
}

