html{
}
head{
}
body{
}
#id5{
background-color:#d;
position : absolute;
top : 138.0;
left : 524.0;
width : 296.0;
height : 234.0;
}
#id6{
background-color:#d;
position : absolute;
top : 114.0;
left : 114.0;
width : max-content;
height : max-content;
}
#id7{
background-color:#d;
position : absolute;
top : 372.0;
left : 292.0;
width : max-content;
height : max-content;
}

