html{
}
head{
}
body{
}
#id5{
position : absolute;
top : 144.0;
left : 295.0;
width : 157.0;
height : 213.0;
}
#id6{
position : absolute;
top : 439.0;
left : 138.0;
width : 194.0;
height : 248.0;
}
#id7{
position : absolute;
top : 19.0;
left : 35.0;
width : 194.0;
height : 519.0;
}
#id8{
position : absolute;
top : 56.0;
left : 51.0;
width : max-content;
height : max-content;
}
#id9{
position : absolute;
top : 135.0;
left : 70.0;
width : max-content;
height : max-content;
}

