html{
}
head{
}
body{
}
#id5{
background-color:#d;
position : absolute;
top : 142.0;
left : 189.0;
width : max-content;
height : max-content;
}
#id6{
background-color:#d;
position : absolute;
top : 286.0;
left : 194.0;
width : max-content;
height : max-content;
}
#id7{
background-color:#d;
position : absolute;
top : 118.0;
left : 490.0;
width : max-content;
height : max-content;
}
#id8{
background-color:#d;
position : absolute;
top : 301.0;
left : 394.0;
width : 320.0;
height : 206.0;
}
#id9{
background-color:#d;
position : absolute;
top : 51.0;
left : 100.0;
width : max-content;
height : max-content;
}

